<a href="https://colab.research.google.com/github/StillWork/additional/blob/master/gg_07_%E1%84%91%E1%85%A1%E1%84%8B%E1%85%B5%E1%86%AF%E1%84%83%E1%85%A1%E1%84%85%E1%85%AE%E1%84%80%E1%85%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 파일 생성

In [0]:
from pandas import DataFrame, Series 
import pandas as pd 

f = open("test.csv", "w")
f.write("1,2,3,4,5 \n")
f.close()

In [3]:
!cat test.csv

1,2,3,4,5

In [0]:
with open("test.csv", "a") as f:
    f.write("1,2,3,4,5 \n")
    f.write("1,2,3,4,5 \n")

In [5]:
!cat test.csv

1,2,3,4,5
1,2,3,4,5
1,2,3,4,5

In [6]:
with open("test.csv",'r') as f:
    for line in f:
        print(line, end = '')

1,2,3,4,5
1,2,3,4,5
1,2,3,4,5

## 옵션
'r'	Open a file for reading. (default)  
'w'	Open a file for writing. Creates a new file if it does not exist or truncates the file if it exists.  
'x'	Open a file for exclusive creation. If the file already exists, the operation fails.  
'a'	Open for appending at the end of the file without truncating it.   Creates a new file if it does not exist.
't'	Open in text mode. (default)  
'b'	Open in binary mode.  
'+'	Open a file for updating (reading and writing)

In [0]:
with open("test.csv", "w") as f:
    f.write("a,b,c,d,message \n")
    f.write("1,2,3,4,hello \n")
    f.write("5,6,7,8,world \n")
    f.write("9,10,11,12,foo \n")

In [8]:
!cat test.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [9]:
pd.read_csv('test.csv')  # 자동으로 컬럼명을 만든다

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [10]:
pd.read_csv('test.csv', header=None)

   0   1   2   3         4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [11]:
pd.read_csv('test.csv', header=1)

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [12]:
pd.read_csv('test.csv', names=['A','B','C','D','E'])

   A   B   C   D         E
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [13]:
!cat test.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [14]:
pd.read_csv('test.csv', nrows=2)
# pd.read_csv('data/ex1.csv', index_col='message')

   a  b  c  d message
0  1  2  3  4   hello
1  5  6  7  8   world

In [15]:
df = pd.read_csv('test.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [0]:
df.to_csv('output.csv')

In [17]:
!cat output.csv

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

## 디렉토리

In [18]:
import os
os.getcwd()

'/content'

In [21]:
os.chdir(".")
os.getcwd()

'/content'

In [22]:
os.listdir()

['.config', 'test.csv', 'output.csv', 'sample_data']

In [0]:
os.mkdir('test')

In [24]:
os.listdir()

['.config', 'test', 'test.csv', 'output.csv', 'sample_data']

In [0]:
os.rename('test','new_one')
os.remove('output.csv')
os.rmdir('new_one')

In [26]:
os.listdir()

['.config', 'test.csv', 'sample_data']

In [0]:
import json

In [0]:
# json은 python에서처럼 '으로 하면 안된다. 현재 """로 감싸 문자열로 저장되어 있기 때문에 
# javascript에서는 '를 string 값으로 인식하지 않아서 에러 발생
obj = """
{
    "name": "Kim",
    "places_lived": ["Seoul", "Korea"],
    "pet": null, "siblings": [{"name": "Scott", "age":25, "pet":"Zuko"}]
}
"""

In [29]:
result = json.loads(obj)
result

{'name': 'Kim',
 'pet': None,
 'places_lived': ['Seoul', 'Korea'],
 'siblings': [{'age': 25, 'name': 'Scott', 'pet': 'Zuko'}]}

In [30]:
asjson = json.dumps(result)
asjson

'{"name": "Kim", "places_lived": ["Seoul", "Korea"], "pet": null, "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"}]}'